
:root {
  --primary-bg-colour: #fff;
  --secondary-bg: #eeeeff;

  --primary-blue: #0E78B9;
  --secondary-blue: #506683;

  --light-blue-bg: #E8F6FF;

  --white-text: #FFFFFF;
  --black-text: #000;
  --black-text-soft: #333;

  --icon-grey: #515456;

  --trans-01-ease-out: all 0.1s ease-out;
  --trans-03-ease-in: all 0.3s ease-in;
  --trans-05-ease-in-out: all 0.5s ease-in-out;
}

:root {
  /* NAV */
  --nav-height: 50px;
  --nav-link-size: clamp(0.75rem, 2vw, 1rem);
  --nav-link-width: clamp(18%, 12vw 20%);
  --sidebar-width: 200px;

  /* HERO SECTION */
  --hero-height: clamp(420px, 80vh, 700px);
  --hero-width: clamp(300px, 90%, 2000px);
  /* --hero-padd: clamp(5%, 8vw, 10%); */
  /* --hero-texts-h1-size: clamp(2.5rem, 8vw, 4rem); */
    /* --hero-texts-h1-size: 3.5rem; */
  --hero-texts-h1-size: clamp(2.5rem, 15vw, 3.5rem);
  --hero-texts-h1-line-height: clamp(40px, 12vw, 90px);

  --hero-texts-p-size: clamp(1.25rem, 1.5vw, 1.5rem);
  --hero-texts-p-line-height: clamp(30px, 1.2vw, 50px);
  --hero-search-container: clamp(45px, 3vh, 76px);
  --hero-search-input: clamp(40px, 2vh, 45px);
  --hero-font-size: clamp(12px, 1.3vw, 14px);

  --hero-search-font-size: clamp(11px, 1.2vw, 13px);

  /* CATEGORIES SECTION */

  /* Sidebar */
  --cat-side-width: 270px;
  --cat-side-h3: 1.1rem;
  --cat-side-h4: 14px;
  --cat-side-input-height: clamp(40px, 10vh, 50px);
  --cat-side-input-size: clamp(0.7rem, 1.4vw, 0.9rem);
  --cat-side-label-bg: #fff;

  /* Gallery */
  /* --categories-h2: clamp(1.25rem, 5vw, 2rem);
  --categories-p: clamp(0.8rem, 3vw, 1rem); */
  --cat-side-search-height: 48px;
  --categories-search-i: clamp(0.8rem, 2vw, 1.5rem);
  --categories-input-height: clamp(40px, 8vh, 60px);
  --cat-hover: #eee;

  --cat-p: 13px;
  --cat-colour: #B0B8C2;

  --cat-item-margin: clamp(1rem, 3vh, 1.5rem);
  --cat-btn-width: 190px;
  --cat-btn-height: 40px;
  --cat-btn-size: 13px;
  
  --cat-item-padd: clamp(1rem, 2vw, 2rem);
  --cat-item-desc-h3: clamp(1rem, 2vw, 1.1rem);
  --cat-item-desc-p: clamp(13px, 1.5vw, 1rem);

  --cat-pagination-height: clamp(45px,10vh, 68px);

  /* DECCLUTTER and SELL */
  --declutter-height: clamp(44vh, 55vh, 60vh);
  --declutter-gap: clamp(1rem, 1.5vw, 1.5rem);
  --declutter-h2: clamp(1.1rem, 5vw, 2rem);
  --declutter-p: clamp(1rem, 2.5vw, 1.1rem);
  --declutter-btn-height: 4.5rem;

  /* TRENDING POSTS */
  --trending-posts-gap: clamp(0.6rem, 1vw, 14px);
  --trending-posts-heading: clamp(1.25rem, 5vw, 2rem);
  --trending-posts-p: clamp(0.75rem, 3vw, 1.2rem);
  --trending-slides-top: clamp(1.5rem, 2vh, 4rem);
  --trending-slides-height: clamp(2px, 0.6vh, 4px);
  --trending-custom-padd: clamp(0.5rem, 2vh, 1rem);
  --trending-custom-h: clamp(1.2rem, 2vw, 1.5rem);
  --trending-custom-p: clamp(12px, 1vw, 0.8rem);
  --trending-custom-i: clamp(10px, 1.5vw, 14px);

  /* SERVICES */
  --page-padding: clamp(1rem, 2vw, 2rem);
  --services-h2: clamp(1.2rem, 5vw, 1.9rem);
  --services-span: clamp(0.9rem, 4vw, 1.3rem);
  --service-custom-height: clamp(120px, 35vh, 250px);
  --service-i-width: clamp(50px, 10vw, 60px);
  --service-h3-size: clamp(1rem, 7vw, 1.3rem);
  --service-p-size: clamp(0.9rem, 5vw, 1rem);
  --services-container-gap: clamp(1rem, 2vw, 2rem);

  /* SHOP. SELL. EXCEL  */
  /* --shop-section-height: clamp(44vh, 55vh, 60vh); */
  --shop-section-height: clamp(50vh, 50vh, 60vh);
  --shop-sell-height: clamp(180px, 30vh, 250px);
  --shop-h2: clamp(1.3rem, 5vw, 2.5rem);
  --shop-p: clamp(1rem, 4vw, 1.2rem);
  --shop-gap: clamp(1.5rem, 2rem, 2.5rem);
  --shop-btn-height: 4.5rem;
  --shop-btn-i: clamp(1.2rem, 2vw, 1.3rem);
  

  /* FOOTER */
  --footer-h2: clamp(12px, 2vw, 14px);
  --footer-p: clamp(13px, 2vw, 15px);
  --footer-location-height: clamp(50px, 10vh, 65px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  color: var(--black-text);
  background-color: var(--primary-bg-colour);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-weight: 400;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.width {
  margin: 0 auto;
  width: 90%;
}

